 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(150deg, rgba(255, 0, 0, 0.5), rgba(107, 0, 148, 1));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "ADLaM Display";
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 21px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 22px;
    padding: 20px 65px 22px;
  }
}