 .u-section-1 {
  background-image: linear-gradient(50deg, rgba(107, 0, 148, 0.5), rgba(219, 84, 90, 0.5)), linear-gradient(to bottom, rgba(107, 0, 148, 1), rgba(107, 0, 148, 1));
}

.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 3.75rem;
  text-shadow: 4px 3px 3px rgba(0,0,0,1);
  line-height: 1;
  margin: 82px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -163px auto 0 48px;
  padding: 6px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 39px 385px 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: "ADLaM Display";
  margin: 44px auto 0;
  padding: 16px 138px 17px 137px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.9723em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: "ADLaM Display";
  margin: 20px auto 0;
  padding: 16px 67px 17px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.0278em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: "ADLaM Display";
  margin: 20px auto 0;
  padding: 12px 130px 13px 129px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.1667em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  font-family: "ADLaM Display";
  margin: 157px auto 19px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 77px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -170px;
    margin-left: 42px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 47px;
    margin-right: 179px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 342px;
    font-size: 1rem;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -480px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -248px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 382px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -311px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 132px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -204px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 145px;
    padding-right: 122px;
    padding-left: 121px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: 21px;
    padding-left: 73px;
    padding-right: 73px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.5rem;
    padding-right: 115px;
    padding-left: 114px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 145px;
  }
}